body {
  background: #bdc3c7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #48502c,
    #bdc3c7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #1273d3,
    #0099ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
@media screen and (max-width: 1024px) {
  .navbar {
    height: -20%;
  }
  .uwa-image {
    position: relative;
    right: 20px;
    height: 90px;
    width: 70px;
  }
  .navbar-toggler {
    position: relative;
    left: 90%;
  }
  .uwa-text {
    position: relative;
    left: 80px;
    bottom: 60px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
}

@media screen and (min-width: 320px) {
  .navbar {
    height: 50%;
  }
  .uwa-image {
    width: 80px;
  }
}

/* Style the top navigation bar */
.navbar {
  overflow: hidden;
  display: inline-block;
  margin-top: -25px;
  width: 100%;
}

.uwa-text {
  font: 10em;
  display: inline-block;
  text-align: center;
  position: relative;
}
.uwa-image {
  right: 9em;
}

.form {
  background-color: white;
  border-radius: 0.3125em;
  width: 60%;
  margin: 1% auto;
  padding: 1%;

  flex-wrap: wrap;
  justify-content: space-between;
}

.form-body {
  text-align: left;
  padding: 1.25em 1rem;
}

.form-body > * {
  padding: 1%;
}

.form__label {
  width: 40%;
}

.form_input {
  width: 60%;
}

.form-check {
  padding-left: 2em;
}
#dropselect {
  margin-left: 1%;
}

.footer {
  text-align: center;
}

/* Viewports between 320px and 480px wide */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .card {
    padding: 0;
    margin: 0;
  }
  .text {
    font-size: 20px;
  }
}
/* On screens that are 600px wide or less, 
make the columns stack on top of each 
other instead of next to each other */
@media screen and (max-width: 320px) {
  .uwa-text {
    padding-top: 10em;
  }

  .uwa-image {
    position: relative;
    right: 10em;
  }
}

@media screen and (min-width: 840px) {
  .form {
    flex-wrap: nowrap;
    padding: 0%;
    margin: 0%;
    width: 100%;
  }

  div {
    flex-basis: 33%;
  }
}

/* Viewports between 320px and 480px wide */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .card {
    padding: 0;
    margin: 0;
  }
  .text {
    font-size: 20px;
  }
}
/* On screens that are 600px wide or less, 
make the columns stack on top of each 
other instead of next to each other */
@media only screen and (max-width: 320px) {
  .uwa-text {
    padding-top: 10em;
  }
  .uwa-image {
    flex-basis: 40%;
  }
}
